.bg{
    background-color: #020e52;
}
.main{
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
ul > li{
    list-style: none;
    padding: 10px;
    cursor: pointer;
}
.optn{
    display: flex;
    justify-content: right;
}
.optn_session{
    justify-content: right;
}