*{
    margin: 0;
    padding:0;
} 
.submain{
 /* background-color: #b6b8b8; */
 /* background-color: #e1e3e3; */
 background-color: #f5f7f7;
 border-radius: 15px;
}
.main{
    /* background-color: #b6b8b8; */
    background-color: #dbdbdb;
    /* background-color: #daebeb; */
    border-radius: 15px;
}
.inp{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
}