<h3 style="text-align: center;" class="mt-2">STUDENT DETAILS</h3>
<hr>
<div class="d-flex justify-content-center mt-2 ">
    <form  class="main p-5" [formGroup] = "student" (ngSubmit)="onSubmit(student)">
        <div class="submain p-5">
            <div>
                <input type="text" name="" id=""  placeholder="enter name : " class="mt-2 inp" formControlName = "name">
                <input type="text" name="" id=""  placeholder="enter class : " class="mt-2 ml-2 inp" formControlName = "cls">
                <input type="text" name="" id=""  placeholder="enter age :" class="mt-2 ml-2 inp" formControlName = "age">
                <button type="button" class="ml-3 btn btn-danger p-1">Remove Student</button>
                <div>
                    <div>
                        <div>
                            <input type="text"  placeholder="enter sub : " class="mt-2 inp" formControlName = "sub">
                            <input type="text"  placeholder=" enter mark: " class="mt-2 ml-2 inp" formControlName = "mark">    
                            <button type="button" class="ml-3 mt-2 btn btn-danger p-1">Remove Subject</button>
                        </div>
                        <div formArrayName="std" *ngFor="let item of std.controls ; let i = index">
                            <div [formControlName]="i">
                                <input type="text"  placeholder="enter sub : " class="mt-2 inp" formControlName = "sub">
                                <input type="text"  placeholder=" enter mark: " class="mt-2 ml-2 inp" formControlName = "mark">    
                                <button type="button" class="ml-3 mt-2 btn btn-danger p-1">Remove Subject</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" class="mt-2 btn btn-warning p-1" (click)="addSubject()" >Add Subject</button>
        </div>
        <button type="button" class="mt-3 btn btn-primary p-1">Add NewStudent</button>
        <button type="submit" class="mt-3 ml-2 btn btn-success p-1">Submit</button>
    </form>
</div>


<!-- <div class="container main-div mt-3 ">
    <form>
        <div class="container  main p-5 ">
            <h4 class="">Enter Student Details : </h4>
            <div class="d-flex mt-2">
                <input type="text" name="" id="" placeholder="enter name" class="form-control inp">
                <input type="text" name="" id="" placeholder="enter batch " class="ml-3 form-control inp">
                <input type="text" name="" id="" placeholder="enter age " class="ml-3 form-control inp">
            </div>
            <div class="d-flex">
                <input type="text" name="" id="" placeholder="enter sub" class="mt-2 form-control inp">
                <input type="text" name="" id="" placeholder="enter score" class="mt-2 ml-3 form-control inp">
                <button type="button" class="ml-3 mt-2 p-1 btn btn-danger"> Remove Subject</button>
            </div>
            <div>
                <button type="submit" class="btn btn-warning  mt-2 p-1" >Add Subject</button>
            </div>
        </div>
        <button type="button" class="btn btn-primary p-1 mt-2">Add Newstudent</button>
        <button type="button" class="btn btn-success ml-3 p-1 mt-2">Submit</button>
    </form>   
</div> -->
